#postContainer{
	display: inline-block;
	position: absolute;
	background-color: #B5A9BB;
	z-index: -1;
	opacity: .3;
	height: 26em;
	width: 95%;
	align: center;
	margin: 1em;
}

div.content h1{
	text-align: left;
	margin: 2em 0em 0em 2em;
	font-size: 19px;

}

div.content h2{
	text-align: left;
	margin: .5em 0em .5em 2em;
	font-size: 19px;

}

div.content h3{
	text-align: right;
	margin-right: 4em;
	font-size: 12px;
}

/* blog questions */
div.content h4{
	font-style: bold;
	margin-left: 2em;
}

#scrollBox{
	height: 7em;
	width:90%;
	top:11em;
	margin: 0em 2em 0em 2em;
	border: 3px solid black;
	overflow-y:auto;
	z-index: 10;
}


#scrollBox a{
	display: inline-block;
	height: 1em;
}

#scrollBox a div{
	position: relative;
	width:100%;
	height:100%;
	display: block;

}
table{
	height: 10em;
	width:100%;
	background-color: rgba(136,119,136,.5);
	top:11em;
	border-collapse: collapse;
	z-index:5;
}

table, tr, td{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: left;
	vertical-align: bottom;
	font-size: 19px;
	z-index: 4;
}