.date-container{
	background-color: #984C8A;
	position:absolute;
	display: inline-block;
	clear:left;
	height: 5em;
	width: 5em;
	outline: black solid thick;
	margin:3em;
}

.date-container p{
	background-color: #984C8A;
	display: inline-block;
	position: relative;
	margin-top: 1.25em;
	text-align: center;
}

.post-container{
	background-color: #984C8A;
	position: relative;
	display: inline-block;
	outline: black solid thick;
	height: 30em;
	width: 30em;
	left:12em;
	top:3em;
}

.post-container h4{
	font-style: bold;
	text-decoration: underline;
	text-align: center;
	font-size: 22px;

}

.post-container p{
	margin:2em;
}



.index-post-container{
	background-color: #984C8A;
	position: relative;
	display: inline-block;
	outline: black solid thick;
	height: 12em;
	width: 12em;
	margin: 3em 3em 3em 3em;
	padding: 1em 1em 1em 1em;
}

.index-date-container{
	background-color: #984C8A;
	position: relative;
	display: inline-block;
	border-bottom: solid black thin;
	width:12em;
	max-height: 2em;
	padding:-3em,-3em,-3em,-3em;
	clear:both;

}

.index-text-container{
	background-color: black;
	position: relative;
	display: inline-block;
	outline: black solid thick;
	max-height: 10em;
	width: 12em;
	margin-top: 1em;


}

