#top-container{
	background-color:#4f2c73;
}

#header{
	background-color: #605293;
	position:absolute;
	display:block;
	clear:both;
	width:84em;
	height:8em;

}

#name-title{
	background-color: #4E638E;
	display: inline-block;
	position: relative;
	margin: auto;
	line-height: 2px;
	left:7em;
	top:.75em;
	outline: black solid 5px;
}

.header-contact{
	background-color: #4E638E;
	display: inline-block;
	position: relative;
	width:15em;
	height: 6em;
	left:50em;
	top:.75em;
	line-height: 15px;
	outline: black solid 5px;

	/* TEXT SELECTORS */
	text-align: left;
	font-size:15px;
	font-style: verdana;
}


h1{
	font-family: cursive;
	font-style: italic;
	font-size:30px;
}

h2{
	font-family: cursive;
	font-style: italic;
	font-size:20px;
	text-align: center;

}

h3{
	font-size:18px;
	text-align: left;

}

#navbar{
	background-color: #3F3075;
	position:absolute;
	display:inline-block;
	width:15em;
	height: 80em;
	top:8em;
}

.nav-container{
	background-color: #236863;
	position: absolute;
	display: inline;
	margin: 1em;
	width: 11em;
	outline: black solid thick;
	text-align: center;

}

#content{
	background-color: #984C8A;
	position: absolute;
	display: inline-block;
	width: 70em;
	height: 80em;
	top:8em;
	left:14em;
}

.content-container{
	background-color: #7A296A;
	position: absolute;
	display: inline-block;
	margin: 2em;
	width: 65em;
	height: 75em;
	outline: black solid thick;


}

.bold{
	font-style: bold;
}
